{% load static %}


<!DOCTYPE html>

<html lang="PT-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Associação Projeto Oficina{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{%static 'css/styles.css' %}" />
    
  </head>
  <header>
    <ul
      class="nav nav-pills nav-fill gap-2 p-1 small bg-danger rounded-5 shadow-sm"
      id="pillNav2"
      role="tablist"
      style="
        --bs-nav-link-color: var(--bs-white);
        --bs-nav-pills-link-active-color: var(--bs-primary);
        --bs-nav-pills-link-active-bg: var(--bs-white);
      "
    >
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active rounded-5"
          id="home-tab2"
          data-bs-toggle="tab"
          type="button"
          role="tab"
          aria-selected="true"
          onclick="location.href='{% url 'index' %}';"
        >
        HOME
        </button>
      </li>
    
      <li class="nav-item" role="presentation">
        <button
          class="nav-link rounded-5"
          id="profile-tab2"
          data-bs-toggle="tab"
          type="button"
          role="tab"
          aria-selected="false"
          onclick="location.href='{% url 'index' %}';"
        >
          MISSÃO
        </button>
    </li>    
      
      <li class="nav-item" role="presentation">
        <button
          class="nav-link rounded-5"
          id="contact-tab2"
          data-bs-toggle="tab"
          type="button"
          role="tab"
          aria-selected="false"
          onclick="location.href='{% url 'index' %}';"
        >
        VALORES
        </button>
      </li>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link rounded-5"
        id="contact-tab2"
        data-bs-toggle="tab"
        type="button"
        role="tab"
        aria-selected="false"
        onclick="location.href='{% url 'index' %}';"
      >
      CONTATO
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link rounded-5"
        id="contact-tab2"
        data-bs-toggle="tab"
        type="button"
        role="tab"
        aria-selected="false"
        onclick="location.href='{% url 'index' %}';"
      >
      CADASTRO
      </button>
    </li>  
  
    </ul>

    <div  id="carouselExample" class="carousel slide" data-bs-ride="carousel">

      <div class="carousel-inner">

        <div class="carousel-item active">
          <img src="{% static 'imagens/imagemcarrossel1.jpg' %}" class="d-block w-100" alt="..." />
        </div>

        <div class="carousel-item active">
          <img src="{% static 'imagens/imagemcarrossel2.jpg' %}" class="d-block w-100" alt="..." />
        </div>

        <div class="carousel-item active">
          <img src="{% static 'imagens/imagemcarrossel3.jpg' %}" class="d-block w-100" alt="..." />
       </div>       

      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>

    <script>
      var myCarousel = new bootstrap.Carousel(document.getElementById('carouselExample'), {
          interval: 1000 // 2 segundos
      });
  </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </header>

  <body class="corpo">

<main>
    {% block content %}


    <!-- Este bloco será substituído pelo conteúdo específico de cada página -->


    {% endblock %}
</main>   


  <div class= "ajude-nos">
    <div>
      <p>Ajude-nos a realizar ainda mais</p>
      <p>Para fazer uma doação rápida e fácil, basta usar o pix!</p>
    </div>
     
    <div>
      <p> 
        <p>Ajude-nos a realizar ainda mais</p>
        <p>Para fazer uma doação rápida e fácil, basta usar o pix!</p>
      </p>
    </div>

  </div>

  </body>

<footer id="rodape-geral">

    <div class="titlefooter">

            <h1> Associação Projeto Oficina</h1>
            <h2> Transformando Vidas </h2>
    </div>

    ,<div>
        <ul class="suporte">
            <h3>Suporte</h3>
            <li> <a href="#">Home</a> </li>
            <li> <a href="#">Missão</a> </li>
            <li> <a href="#">Valores</a> </li>
            <li> <a href="#">Contato</a> </li>
            <li> <a href="#">Cadastro</a> </li>
        </ul>
      </div>

      <div class="contatos">

        <h3>Contatos</h3>

          <p> 11 9 7703-0308 </p>

          <p>Endereço: R. Brasília, 40 - Cohab 21, Carapicuíba - SP, 06325-070</p>
          
          <p>email: associaçãoprojetooficina@hotmail.com </p>
           
          <p>Brasil</p>
          
      </div>

      <div class="Redes Sociais">
          <img src="{% static "imagens/logofacebook.png" %}" alt="facebook">
          <img src="{% static "imagens/logotwitter.png" %}" alt="twitter">
          <img src="{% static "imagens/logoinstagram.png" %}" alt="instagram">
          <img src="{% static "imagens/logolinkedin.png" %}" alt="linkedin">   
      
          <h3>Este site possui certificado SSL </h3>
     

</footer>
  
</html>
