{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="main-container">
    <h1>Bem-vindo à Associação</h1>
    
<div id="conteudo-principal">
        <h1>Eventos</h1>
        <div id="eventos">
            {% for evento in eventos %}
                <div class="evento">
                    <h2>{{ evento.titulo }}</h2>
                    <p>{{ evento.descricao }}</p>
                    <p>{{ evento.data }}</p>
                    <p>{{ evento.local }}</p>
                    {% if evento.imagem %}
                        <img src="{{ evento.imagem.url }}" alt="{{ evento.titulo }}">
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <h1>Notícias</h1>
        <div id="noticias">
            {% for noticia in noticias %}
                <div class="noticia">
                    <h2>{{ noticia.titulo }}</h2>
                    <p>{{ noticia.conteudo }}</p>
                    <p>{{ noticia.data_publicacao }}</p>
                    {% if noticia.imagem %}
                        <img src="{{ noticia.imagem.url }}" alt="{{ noticia.titulo }}">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}



