{% extends "base.html" %}
{% load static %}

{% block title %}Associação Projeto Oficina{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />

<header>
   <div class="carousel-container">
        <div class="carousel-slide">
            {% for image in carousel_images %}
            <div class="carousel-item">
                <img src="{{ image.image.url }}" alt="{{ image.title }}">
                {% if image.title or image.description %}
                <div class="carousel-caption">
                    <h3>{{ image.title }}</h3>
                    <p>{{ image.description }}</p>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <button class="prev" onclick="plusSlides(-1)">❮</button>
        <button class="next" onclick="plusSlides(1)">❯</button>
    </div>
</header>

<aside>
    <div class="socio_transformador">
        <h3>Seja um Sócio Transformador</h3>
        <p>A partir de R$10,00 por mês, você se torna um Sócio Transformador e pode transformar a vida de muitas pessoas.</p>
        <a href="/siteweb/doacao.html">
            <button id="btn_doacao">Para fazer uma doação rápida e fácil, basta usar o pix!</button>
        </a>
    </div>
</aside>

<main>
    <div class="main-container">
        <div id="conteudo-principal">
            <h1>Eventos</h1>
            <div id="eventos">
                {% for evento in eventos %}
                    <div class="evento">
                        {% if evento.imagem %}
                            <img src="{{ evento.imagem.url }}" alt="{{ evento.titulo }}">
                        {% endif %}
                        <div>
                            <h2>{{ evento.titulo }}</h2>
                            <p>{{ evento.descricao }}</p>
                            <p>{{ evento.data }}</p>
                            <p>{{ evento.local }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <h1>Notícias</h1>
            <div id="noticias">
                {% for noticia in noticias %}
                    <div class="noticia">
                        {% if noticia.imagem %}
                            <img src="{{ noticia.imagem.url }}" alt="{{ noticia.titulo }}">
                        {% endif %}
                        <div>
                            <h2>{{ noticia.titulo }}</h2>
                            <p>{{ noticia.conteudo }}</p>
                            <p>{{ noticia.data_publicacao }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

  <div class="container">
        {% for historia in historias %}
            <div class="nossahistoria">
                {% if historia.imagem %}
                    <img src="{{ historia.imagem.url }}" alt="{{ historia.titulo }}">
                {% endif %}
                <h3>{{ historia.titulo }}</h3>
                <p>{{ historia.descricao }}</p>
            </div>
        {% endfor %}
    </div>
</main>

<!-- Inclua o script no final para garantir que o DOM seja carregado -->
<script src="{% static 'js/script.js' %}"></script>

{% endblock content %}


