{% extends "base.html" %}
{%load static%}

<title>{% block title %}Missão{% endblock %}</title>

{% block content %}


<main>

{% for missao in missoes %}
  <div class="row {% cycle 'left' 'right' %}">
    <div class="img-mission">
      <img src={{ missao.imagem.url }} alt="imagem da missão" style="width: 100%; max-width: 400px;">
    </div>     
    <div>
      <h3 id="titulo">{{ missao.titulo }}</h3>
      <p id="texto">{{ missao.texto }}</p>
    </div>
  </div>
{% endfor %}

</main>

{% endblock content %}
