{% extends "base.html" %}
{%load static%}


<title>{% block title %}Missão{% endblock %}</title>

{% block content %}
<link rel="stylesheet" href="{% static 'css/missao.css' %}">

<main class="pagina-missao">
    <div class="container-centralizado">
        {% for missao in missoes %}
            <div class="row {% cycle 'left' 'right' %}">
                {% if forloop.counter|divisibleby:2 %}
                    <div class="img-mission">
                        <img id="img-missao-{{ forloop.counter }}" src="{{ missao.imagem.url }}" alt="imagem da missão">
                    </div>
                    <div class="text-mission">
                        <h3 id="titulo">{{ missao.titulo }}</h3>
                        <p id="texto">{{ missao.texto }}</p>
                    </div>
                {% else %}
                    <div class="text-mission">
                        <h3 id="titulo">{{ missao.titulo }}</h3>
                        <p id="texto">{{ missao.texto }}</p>
                    </div>
                    <div class="img-mission">
                        <img id="img-missao-{{ forloop.counter }}" src="{{ missao.imagem.url }}" alt="imagem da missão">
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</main>



{% endblock content %}


