{% extends "base.html" %}
{% load static %}

<title>{% block title %}Valores{% endblock %}</title>

{% block content %}
<link rel="stylesheet" href="{% static 'css/valores.css' %}">

<main class="pagina-valores">
    <!-- Seção de valores -->
    <div class="imagem-valores">
        <h1 id="titulo-valores">Nossos Valores</h1>
        <p id="p-valores">Aqui estão os nossos valores fundamentais.</p>
        <ul id="valores"></ul> <!-- Mantenha o contêiner vazio para o JavaScript -->
    </div>

    <!-- Seção de carrossel de imagens -->
    <div class="imagens_valores">
        {% for imagem in imagens %}
            <div class="img-valor mySlides">
                <img id="img-valor-{{ forloop.counter }}" src="{{ imagem.imagem.url }}" alt="imagem do valor">
            </div>
        {% endfor %}
    </div>
</main>

<!-- Inclua o script no final para garantir que o DOM seja carregado -->
<script src="{% static 'js/script.js' %}"></script>

{% endblock content %}
