/* Estilos do Footer */
footer {
    background-color: #333;
    /* Cor de fundo do footer */
    color: white;
    /* Cor do texto */
    padding: 30px 0;
    /* Espaçamento vertical aumentado */
    text-align: center;
    /* Centraliza o texto em dispositivos menores */
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    max-width: 1200px;
    /* Limita a largura máxima para uma melhor organização */
    margin: 0 auto;
    /* Centraliza o conteúdo horizontalmente */
}

.footer-section {
    flex: 1;
    min-width: 220px;
    /* Aumenta a largura mínima para garantir melhor visibilidade em dispositivos maiores */
    margin: 10px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    /* Espaçamento abaixo do título */
    color: #f4f4f4;
    /* Suave contraste com o fundo */
}

.footer-section p,
.footer-section a {
    font-size: 14px;
    color: #ccc;
    /* Suave contraste para o texto do parágrafo e links */
    text-decoration: none;
}

.footer-section a:hover {
    color: #fff;
    text-decoration: underline;
    /* Efeito hover para links */
}

.footer-section-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-section-links li {
    margin: 8px 0;
    /* Aumenta o espaçamento entre os itens da lista */
}

.footer-section-social {
    text-align: center;
    /* Centraliza os ícones das redes sociais */
}

.footer-section-social a {
    margin: 0 10px;
    font-size: 20px;
    /* Define o tamanho dos ícones sociais */
    color: #ccc;
}

.footer-section-social a:hover {
    color: #fff;
    /* Efeito hover nos ícones sociais */
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .footer-content {
        justify-content: center;
        /* Centraliza o conteúdo do footer em telas menores */
    }

    .footer-section {
        text-align: center;
        /* Centraliza cada seção em telas menores */
        margin: 20px 0;
        /* Aumenta a margem entre as seções para melhor espaçamento */
    }
}