body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.Empatia {
    font-weight: bold;
    color: rgb(15, 12, 221);
    font-size: 32px;
    /* Substitua 'red' pela cor que você deseja */
}

.values p {
    width: 80%;
    margin: auto;
    padding: 20px;
    font-size: 30px;
    color: #fffb05;
}

#valores ul li {
    font: size 20px;
    padding: 10px;
}

#valores li {
    font-size: 25px;
    padding: 10px;
    list-style-type: none;
}

.carrossel1 {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.carrossel1 .slide1 {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    position: absolute;
    transition: opacity 1s;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.socio_transformador {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #10032e;
    color: white;
    padding: 20px;
    text-align: center;
    width: 98%;
}

#btn_doacao {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

#btn_doacao a {
    color: white;
    text-decoration: none;
}

.doacao-pix {
    padding: 45px;
    background-color: azure;
    text-align: center;
    justify-content: center;
    color: #10032e;
}

#logopix {
    height: 30%;
    width: 30%;
}


.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nossahistoria {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    flex: 1 0 200px;
    /* Adicione esta linha */
    text-align: center;
}


.nossahistoria img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

section {
    background-color: azure;
    color: white;
    padding: 20px 0;
    text-align: center;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.foto {
    flex: 1 0 21%;
    /* Crescer, não encolher, base de 21% */
    margin: 1%;
    text-align: center;
    box-sizing: border-box;
}

.row.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    font-size: 20px;
}

.row.right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 80%;
    font-size: 20px;
    text-justify: inter-word;
}

.img-mission,
.row>div {
    display: flex;
    flex: 60%;
    padding: 30px;
    justify-content: space-around;
    gap: 40px;

}

#imagens_valores {
    width: 70%;
    gap: 200px;


}

#titulo {
    color: rgb(5, 5, 6);
    align-items: center;
}

#texto {
    color: rgb(35, 6, 84);
    text-align: justify;
}


.foto img {
    width: 100%;
    height: auto;
}

.carrossel {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s;
    opacity: 1;
}

.carrossel2 {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.slide2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s;
    opacity: 1;
}

.missao {
    /* Adicione suas regras CSS aqui */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-color: #360f52c2;
    padding: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: azure;

}

.form-faleconosco {
    margin: 30px;
    padding: 20px;
}

/* Estilo para o formulário de login */
.login-form {
    padding: 70px;
    height: 400px;
    margin: 50px;

}

.login-form label {
    /* display: block; */
    margin-top: 40px;
    margin-left: 20px;
}

.form-faleconosco {
    margin-left: 40px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px 10px;
    margin-top: 5px;
}

.login-form button {
    margin-top: 20px;
    padding: 10px 20px;
}

#btn_doacao {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

#btn_doacao a {
    color: white;
    text-decoration: none;
}

#foto_galeria_valores1,
#foto_galeria_valores2 {
    width: 35%;
    height: 35%;
    padding: 20px
}